<template>
  <popup-modal ref="popup">
    <div class='d-flex flex-row'>
      <span style="margin-top: 0">Detail -</span>
      <span class='px-2 fst-italic fw-bold'>{{ xmit.label }}</span>
      <span class='px-2 fst-italic'>{{ xmit.freq }}</span>
      <span class='fst-italic'>({{xmit.duration}})</span>
    </div>
        <div>
            <label for='label' class='me-2'>Label:</label>
            <input type='text' id='label' v-model='xmit.label' @change='changed' />
        </div>
        <label class='me-2'>Bank:</label>
        <select v-model='xmit.bank'>
          <option
            v-for="bank in scan_config.existing_banks"
            :value="bank"
            :key="bank"
            :selected="bank === xmit.bank"
          >{{ bank }}</option>
        </select>
<!--        <fieldset>
          <label class='me-2'>Pass:</label>
          <select id='pass' v-model="xmit.pass" @change='changed'>
            <option value="0">None</option>
            <option value="1">Manual</option>
            <option value="2">Auto</option>
          </select>
        </fieldset> -->

        <fieldset class='d-flex'>
          <label class='me-2'>Pass:</label>
          <template v-for='(pass, index) in passes' :key='index'>
          <div>
            <input type='radio' name='pass' id='pass' :value='index' v-model="xmit.pass" @change='changed' :disabled="index == 2">
            <label :for='index' class='ms-1 me-2'>{{ pass }}</label>
          </div>
          </template>
        </fieldset>

        <fieldset class='d-flex'>
          <label class='me-2'>Class:</label>
          <template v-for='xmit_class in classes' :key='xmit_class.id'>
          <div>
            <input type='radio' name='xmit_class' id='class' :value='xmit_class.short' v-model="xmit.class" @change='changed'>
            <label :for='xmit_class.short' class='ms-1 me-2'>{{ xmit_class.long }}</label>
          </div>
          </template>
        </fieldset>

        <div class='d-flex flex-row'>{{ xmit.prediction }}</div>

        <p>{{ xmit }}</p>
        <div class="btns">
            <button class="cancel-btn" @click="_cancel">Cancel</button>
            <span class="ok-btn" @click="_confirm">OK</span>
        </div>
    </popup-modal>
</template>

<script>
import PopupModal from '../components/PopupModal.vue'
  
export default {
    name: 'ConfirmDialogue',
    components: { PopupModal },
    data: () => ({
        // Private variables
        resolvePromise: undefined,
        rejectPromise: undefined,
        changes: {},
        passes: ['None', 'Manual', 'Auto'],
        classes: [
            { short: 'U', long: 'Unknown' },
            { short: 'V', long: 'Voice' },
            { short: 'D', long: 'Digital' },
            { short: 'S', long: 'Skip' }
        ],
    }),

    methods: {
        show(opts = {}) {
            this.xmit = opts.xmit
            this.scan_config = opts.scan_config
            this.changes = {}
            // Once we set our config, we tell the popup modal to open
            this.$refs.popup.open()
            // Return promise so the caller can get results
            return new Promise((resolve, reject) => {
                this.resolvePromise = resolve
                this.rejectPromise = reject
            })
        },

        _confirm() {
            this.$refs.popup.close()
            if (Object.entries(this.changes).length > 0) {
                this.changes['freq_key'] = this.xmit.freq_key
                this.changes['xmit_key'] = this.xmit.xmit_key
                console.log('changes: ', JSON.stringify(this.changes))
            }
            this.resolvePromise(true)
        },

        _cancel() {
            this.$refs.popup.close()
            this.resolvePromise(false)
            // Or you can throw an error
            // this.rejectPromise(new Error('User cancelled the dialogue'))
        },
        changed() {
            console.log('field: ', event.srcElement.id, ' changed to: ', event.target.value)
            this.changes[ event.srcElement.id ] = event.target.value
        }
    },
}
</script>

<style scoped>
.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cancel-btn,.ok-btn {
    padding: 0.5em 1em;
    background-color: #d5eae7;
    color: #35907f;
    border: 2px solid #0ec5a4;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    /*text-transform: uppercase;*/
    cursor: pointer;
}
</style>
