/*
tabs from: https://renatello.com/vue-js-tabs/
*/
<template>
<div class="main">
  <!--<CartGUIService ref='gservice'></CartGUIService>-->
  <div id="header">
    <span id="message" class="text-primary d-flex align-items-center justify-content-start text-truncate">{{ message }}</span>
    <span id="count" class="text-secondary bg-info rounded-circle d-flex align-items-center justify-content-center">{{ count }}</span>
    <span id="audio">
      <audio controls autoplay ref="player" class="d-flex align-items-center">
        <source :src='source'>
        Your browser does not support the audio element.
      </audio>
    </span>
  </div>
  <div>
    <ul class="nav nav-tabs nav-justified">
      <li class="nav-item">
        <a class="nav-link" @click.prevent="setActive('scanner')" :class="{ active: isActive('scanner') }" href="#scanner">Scanner</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" @click.prevent="setActive('leaderboard')" :class="{ active: isActive('leaderboard') }" href="#leaderboard">Leaderboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" @click.prevent="setActive('misc')" :class="{ active: isActive('misc') }" href="#misc">Misc</a>
      </li>
    </ul>
    <div class="tab-content py-3" id="myTabContent">
      <div class="tab-pane fade" :class="{ 'active show': isActive('scanner') }" id="scanner"><scanner @send-message='handleSendMessage'/></div>
      <div class="tab-pane fade" :class="{ 'active show': isActive('leaderboard') }" id="leaderboard">Leaderboard content {{ errors }}</div>
      <div class="tab-pane fade" :class="{ 'active show': isActive('misc') }" id="misc">Misc content</div>
    </div>
  </div>

  </div>
</template>

<script>
import Scanner from '../components/Scanner'
import CartQueue from '@/services/CartQueue.js'
//import CartGUIService from '@/services/CartGUIService.vue'
export default {
    name: 'Main',
    props: {
        msg: String
    },
    data() {
        return {
            activeItem: 'home',
            //hasScannerError: false,
            message: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
            queue: new CartQueue.Queue(),
            source: null,
//            gui_service: this.$refs.gservice
        }
    },
  computed: {
      count() {
          return this.queue.length()
      },
      errors() {
          //console.log(CartGUIService.returnErrors())
          //return CartGUIService.returnErrors()
          return 'blah'
      },
  },
    methods: {
        isActive (menuItem) {
            return this.activeItem === menuItem
        },
        setActive (menuItem) {
            this.activeItem = menuItem
        },
        handleSendMessage(msg) {
            this.queue.enqueue(msg)
            this.source = msg.url + '/audio?file=' + msg.file
            var audio = this.$refs.player
            if (audio.paused) {
                //audio.play()
            }
        },
        //handleStatusMessage(msg) {
        //    console.log('new status', msg)
        //},
  },
  components: {
      Scanner,
//      CartGUIService,
  },
  created() {
      console.log('Main created')
  },
  mounted() {
          this.$watch('source', function() {
              this.$refs.player.load()
          });
      //console.log('gservice', this.$refs.gservice)
  }
}
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#header {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 40px 200px;
}

/* https://stackoverflow.com/questions/2939914/how-do-i-vertically-align-text-in-a-div */
#message {
  /*height: 40px;
  line-height: 40px; */ /* same as height! */
/*  background-color: lime; */
/*  text-align: left;
  vertical-align: middle;*/
/*  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

#count {
/*  height: 34px;
  line-height: 34px; */ /* same as height! */
  /* background-color: blue; */
 /*  border: solid 3px #CCCCCC; */
}

#audio {
/*  height: 40px; */
  /* background-color: red; */
}
</style>
