<template>
<div class="main">
  <CartGUIService ref='conn_svc'></CartGUIService>
      <div v-if="sendError">
      could not send message
      </div>
  <ul class="list-group">
    <li class="list-group-item d-flex" v-for="xmit in xmits" :key="xmit.xmit_key">
      <div class="p-0 m-0 flex-grow-1">
        <span class="fw-bold fs-6">{{ xmit.label }}</span>
        <span v-if='xmit.pass' class='ms-1'>(Passed)</span>
        <div class="fst-italic fs-6">{{ xmit.freq }} ({{(xmit.duration).toFixed(1)}})</div >
      </div>
      <button class="delete-btn btn btn-default" @click="showDetail(xmit)">...</button>
      <config-dialogue ref="configDialogue"></config-dialogue>
<!---            <span class="glyphicon glyphicon-off"></span> --->
      <!--</button>-->
    </li>
  </ul>
</div>
</template>

<script>
import ConfigDialogue from './ConfigDialogue.vue'
import CartGUIService from '@/services/CartGUIService.vue'

export default {
    name: 'Scanner',
    data() {
        return {
            xmits: null,
            scan_config: null,
            send: null,
            url: null,
            sendError: false,
        }
    },
    components: {
        ConfigDialogue,
        CartGUIService,
    },
    methods: {
        async showDetail(xmit) {
            const ok = await this.$refs.configDialogue.show({
                xmit: xmit,
                scan_config: this.scan_config,
            })
            // If you throw an error, the method will terminate here unless you surround it wil try/catch
            if (ok) {
                console.log('User selected OK')
            } else {
                console.log('User cancelled')
            }
        },
        process(msg) {
            switch (msg.type) {
                case 'audio':
                    msg.url = this.url
                    this.$emit('send-message', msg);
                    this.xmits.unshift(msg)
                    //enqueue(msg);
                    //scanner_page();
                    break;
                case 'update':
                    //scanner_page();
                    break;
                case 'config':
                    this.scan_config = msg;
                    break;
            }
        },
        handleMessage(msg) {
            console.log('handleMessage', msg, this)
        }
    },
    created() {
        console.log('Scanner created')
    },
    mounted() {
        console.log('Scanner mounted')

        console.log('refs', this.$refs.svc)

        const [ send, url ] = this.$refs.conn_svc.regListener(this.$options.name, this.process)
        this.send = send
        this.url = url

        this.$refs.conn_svc.getXmits()
            .then(response => {
                this.xmits = response.data
            })
            .catch(error => {
                console.log(error)
            })

        // Vue stuff is not available in the setInterval
        var v = this

        setInterval(function () {
            send( { type: "ping" } )
                .then( result => {
                    v.sendError = false
                    //connectError = false
                return result
            })
            .catch(error => {
                //connectError = true
                //console.log(connectError)
                v.sendError = true
                console.log('could not send websocket message: ', error)
           })
        }, 5000)

        //console.log('about to set watch')
        //this.$watch('connectError', function() {
        //      console.log('scanner had an error.  About to send message')
        //      this.$emit('send-status', { status: this.connectError });
        //});
    }
}
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#header {
/*  display: grid;
  width: 100%;
  grid-template-columns: 1fr 40px 200px; */
}
</style>
